
#wrapPageContent {
    margin: 0 auto;
}
header {     
    max-width: 1600px;   
    margin: 0 auto;    
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #381CE8;    
}
main {
    max-width: 1400px;
    margin: 0 auto;
}

/* Title Section */
.titleLg {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #353535;
    font-size: 80px;
}

.subTitleMd {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #939393;
    font-size: 25px;
}

/* Scroll Spy*/
#wrapScrollSpy {
    position: relative;
}
.main-section {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
}

